
body {
    overflow: hidden;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
}

body > * {
    padding: 5vw;
    padding: min(5vw, 5vh);
    margin-left: 5vw;
    margin-right: 5vw;
}

textarea {
    flex: 1;
    border-radius: 20px;
    width: 90vw;
    box-sizing: border-box;
    margin-top: 5vh;
    margin-bottom: 3vh;
    background-size:25vh;
    background-repeat: no-repeat;
    background-position: bottom right;
}

#txet {
    background-image:url(../img/doge.png);
}

#reslut {
    background-image:url(../img/cheems.png);
}
